@mixin heading-font() {
    font-family: sans-serif;
    font-weight: 700;
}


:root {
    --color-bg: white;
    --color-fg: black;
    --color-heading1: white;
    --color-heading2: black;
    --color-footer: rgb(232, 230, 230);

    --radius: 0.6rem
}

body {
    margin: 0;
    min-height: 100vh;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 1fr min-content;

    grid-template-areas: "header"
                         "main"
                         "footer";

    background-color: var(--color-bg);
    color: var(--color-fg);

    gap: 0.4rem;
}


header {
    @include heading-font();

    grid-area: header;
    text-align: center;
    border-bottom: 4mm ridge rgba(139, 139, 136, 0.6);

    padding: 1vh;

}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-fg);
}


main{
    grid-area: main;
    justify-content: center;  
    display: grid;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--color-fg);
}

article{
    padding: 0.3rem;
    outline: auto;
    outline-color: black;
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--color-fg);
}





footer {
    @include heading-font();
    grid-area: footer;
    background-color: var(--color-footer);
    align-content: center;
    padding: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: rgb(56, 56, 56);
        --color-fg: white;
        --color-heading1: #ccffcc;
        --color-heading2: white;
        --color-footer: #737373;
    }

}


@media screen and (min-width: 768px){

    body{
        margin: 0;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 2.5fr minmax(150px, 1fr);
        grid-template-rows: min-content 3.5fr min-content;
    
        grid-template-areas: "header header"
                             "main main"
                             "footer footer";
    }

    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        @include heading-font();
        grid-area: footer;
        background-color: var(--color-footer);
        align-content: center;
        padding: 1rem;
    }
}

@media screen and (min-width: 1200px){
    body{
        margin: 0;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 2.5fr minmax(150px, 1fr);
        grid-template-rows: min-content 3.5fr min-content;
    
        grid-template-areas: "header header header"
                             "main main main"
                             "footer footer footer";
    }

    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 3rem;
    }

    footer {
        @include heading-font();
        grid-area: footer;
        background-color: var(--color-footer);
        align-content: center;
        padding: 1rem;
    }    
}

@media screem and (prefers-reduced-motion){
    header nav li{
        transition: none;
    }
}